<h4>Datos del Paciente</h4>
<div class="row form-group">
  <div class="col-md-6">
    <button type="button" [class]="grado === 'LEVESEVERO' ? 'selected': ''" (click)="setGrado('LEVESEVERO')"
      class="btn btn-success btn-actions btn-block">
      Leve-Severo
    </button>
  </div>
  <div class="col-md-6">
    <button type="button" [class]="grado === 'PROFUNDO' ? 'selected': ''" (click)="setGrado('PROFUNDO')"
      class="btn btn-success btn-actions btn-block">
      Profundo
    </button>
  </div>
</div>
<div class="row form-group">
  <div class="px-6 pt-4 pb-2">
    <button type="button" (click)="onNextStep()" class="btn btn-primary">
      Siguiente
    </button>
  </div>
</div>
