<h4>Informe Final</h4>

<div class="col-md-12">
  Paciente: {{resumen.nombre}} Edad: {{resumen.edad}} años. <br>
  Sexo: {{resumen.genero}} <br>
</div>
<div class="col-md-12">
  <h5>Opciones Seleccionadas</h5>
  Grado de Perdida: {{resumen.gradoPerdida}} <br>
  Tipo de Perdida: {{resumen.tipoPerdida}} <br>
  Enfermedades Previas: {{resumen.enfermedadesPre}} <br>
  Malformaciones: {{resumen.malformaciones}} <br>  <!--en enfermedades previas y malformaciones mi idea es poner la condicion de que si están vacías, se ponga por default "No presenta"-->
</div>
<div class="col-md-12">
  <h5>Audioprótesis</h5>
  {{resumen.protesisSeleccionada}} <br>
</div>


<!-- export interface Informe {
  nombre: string;
  edad: number;
  genero: string;
  gradoPerdida: GRADOPERDIDA,
  tipoPerdida: TIPOPERDIDA,
  enfermedadesPre: ENFERMEDADES,
  tipoPro: TIPOPROTESIS,
  malformaciones: MALFORMACIONES,
  protesisSeleccionada: PROTESIS
} -->
