<h4>Pérdida auditiva</h4>
<div class="row form-group">
    <div class="col-md-4">
        <button type="button" [class]="malformacion === 'NO' ? 'selected': ''"
            (click)="setMalformacion('NO EXISTEN')" class="btn btn-default btn-actions btn-block">
            NO EXISTEN MALFORMACIONES
        </button>
    </div>
    <div class="col-md-4">
        <button type="button" [class]="malformacion === 'EXISTEN' ? 'selected': ''"
            (click)="setMalformacion('EXISTEN')" class="btn btn-default btn-actions btn-block">
            EXISTEN MALFORMACIOENS
        </button>
    </div>
</div>
<div class="row form-group">
    <div class="px-6 pt-4 pb-2">
        <button type="button" (click)="onNextStep()" class="btn btn-primary">
            Siguiente
        </button>
    </div>
</div>