<h4>PÉRDIDA AUDITIVA MODERADA</h4>
<div class="row form-group">
  <h5 class="card-title">"AUDÍFONO INTRTACANAL" O "AUDÍFONO RITE"</h5>
  <div class="col-md-6">
    <img src="../../../../assets/images/intracanal.jpg" class="img-responsive img-rounded" alt="...">
  </div>

  <div class="col-md-6">
    <img src="../../../../assets/images/audifonorite.png" class="img-responsive img-rounded" alt="...">
  </div>

</div>
<div class="row form-group">
  <div class="px-6 pt-4 pb-2">
    <button type="button" (click)="onNextStep()" class="btn btn-primary">
      Siguiente
    </button>
  </div>
</div>
