<h4>PRESENTA MALFORMACIONES</h4>
<div class="row form-group">
  <h5 class="card-title">"IMPLANTE DE CONDUCCIÓN ÓSEA" O "IMPLANTE DE TRONCO ENCEFALICO"</h5>

  <div class="col-md-6">
    <img src="../../../../assets/images/conduccionosea.jpg" [class]="option === 'CONDUCCIONOSEA' ? 'selected': ''"
      (click)="option = 'CONDUCCIONOSEA'" class="img-responsive img-rounded" alt="...">
  </div>

  <div class="col-md-6">
    <img src="../../../../assets/images/troncoencefalico.jpg" [class]="option === 'TRONCOENCEFALICO' ? 'selected': ''"
    (click)="option = 'TRONCOENCEFALICO'"
     class="img-responsive img-rounded" alt="...">
  </div>
</div>
<div class="row form-group">
  <div class="px-6 pt-4 pb-2">
    <button type="button" (click)="onNextStep()" class="btn btn-primary">
      Siguiente
    </button>
  </div>
</div>
