<h4>PRESENTA MALFORMACIONES</h4>
<div class="row form-group">
  <h5 class="card-title">"IMPLANTE DE CONDUCCIÓN ÓSEA" O "IMPLANTE DE TRONCO ENCEFALICO"</h5>

  <div class="col-md-6">
    <img src="../../../../assets/images/conduccionosea.jpg"
      [class]="option === protesisEnum.CONDUCCIONOSEA ? 'selected': ''" (click)="option = protesisEnum.CONDUCCIONOSEA"
      class="img-responsive img-rounded" alt="...">
  </div>

  <div class="col-md-6">
    <img src="../../../../assets/images/troncoencefalico.jpg"
      [class]="option === protesisEnum.TRONCOENCEFALICO? 'selected': ''"
      (click)="option = protesisEnum.TRONCOENCEFALICO" class="img-responsive img-rounded" alt="...">
  </div>
</div>
<div class="row form-group">
  <div class="px-6 pt-4 pb-2">
    <button type="button" [disabled]="disabled()" (click)="onNextStep()" class="btn btn-primary">
      Informe Final
    </button>
  </div>
</div>
