<h4>Zona Afectada del Paciente</h4>
<div class="row form-group">
    <div class="col-md-4">
        <button type="button" [class]="zona === 'CONDUCTIVA' ? 'selected': ''" (click)="setZona('CONDUCTIVA')"
            class="btn btn-default btn-actions btn-block">
            Hipoacusia Conductiva
        </button>
    </div>
    <div class="col-md-4">
        <button type="button" [class]="zona === 'PERCEPTIVA' ? 'selected': ''" (click)="setZona('PERCEPTIVA')"
            class="btn btn-default btn-actions btn-block">
            Hipoacusia Perceptiva
        </button>
    </div>
    <div class="col-md-4">
        <button type="button" [class]="zona === 'MIXTA' ? 'selected': ''" (click)="setZona('MIXTA')"
            class="btn btn-default btn-actions btn-block">
            Hipoacusia Mixta
        </button>
    </div>
</div>
<div class="row form-group">
    <div class="px-6 pt-4 pb-2">
        <button type="button" (click)="onNextStep()" class="btn btn-primary">
            Siguiente
        </button>
    </div>
</div>